<nav class="navbar navbar-expand-lg navbar-light ">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
          <img src="/assets/imgs/Bhavani_Negro.png" alt="bhavani-logo">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
          <li *ngFor="let element of navigation_links" class="nav-item">
            <a class="nav-link " aria-current="page" [routerLink]="element.path" routerLinkActive="">{{element.name}}</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  