
p{
    margin:0;
}
a{
    font-family: var(--reg_text_font);
    font-size: var(--reg_text_size);
    font-weight: var(--reg_text_weight);
    text-decoration: none;
}
ul{
    list-style-type: none;
}
li{
    text-decoration: none!important;
}
footer{
    background-color: #E79066;;
}
.arrow{
color: black;
padding-right: 10px;
}

#benefits , #protocols{
    background-color: var(--non_white);
    padding: 3vw 5vw 3vw;
}
#benefits button, #protocols button{
    background-color: var(--main_orange);
}
.bottom_border_container{
    border-bottom: 1px solid #000;
    padding-bottom: 3rem;
    margin-bottom: 3rem;
}
.description_text{
    margin-left: auto;
}
#end_content{
    background-image: url("../assets/imgs/footer_1.jpg"); 
}
.end_content_container{
    color: var(--non_white);
    text-align: center;
    padding: 10vw;
}
.end_content_container p{
    margin-top: 6rem;
    font-family: var(--header_1_font);
    font-size: var(--header_1_size);
    font-weight: var(--header_1_weight);
}
.end_content_container button{
    background-color: var(--highlight);
    margin-top: 5rem;    
}
.flex_container{
    display: flex;
    justify-content: space-between;
}
.flex_container .banner_title{
    width: 20vw;
}
.flex_container .description_text{
    display: flex;
    width: 22rem;
    
}
.footer_container{
    display:grid;
    grid-template-columns: 40vw 20vw 20vw 20vw;
    color: var(--non_white);
    padding: 6rem 3rem 2rem;
}
.footer_container a{
    text-decoration: none!important;
    color: var(--non_white);
}
.footer_logo{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footer_logo p{
    padding: 2rem 0rem 2rem;
    color: var(--non_white);
    font-family: var(--reg_text_font);
    font-size: var(--reg_text_size);
    font-weight: var(--reg_text_weight);
}
.formula_container{
    display: grid;
    grid-template-columns: 50vw 50vw;
    background-color: var(--nude);
    color: var(--black)
}
.formula_container .formula_container_item{
    padding: 10rem;
    text-align: start;
}
#general_info{
    margin-top:0;
    background-color:var(--main_orange);
    text-transform: uppercase;
}

.general_info_container{
    padding: 2vw 30vw;
    text-align: center;
}

.general_info_container .text{
    margin-top: 2rem;
    letter-spacing: 0.115em;
}
.image_background{
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
    height:100%;
    min-width: 100vw;
}
.link_list ul{
    padding: 0;
    text-align:start;
}
.link_list ul li{
    padding-top: 1rem;
}
.svgs_container{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content:space-evenly;
}
.svgs_container .svgs_card{
    margin-bottom: 12rem;
    background-color:transparent;
    border: none;
    text-transform: uppercase;
    text-align: center;
    height: 100px;          
    width: 15rem;
}
.svgs_container .svgs_card p{
    margin-top: 2rem;
}

.header_container{
    color: white;
    padding-top: 18vw;
    margin-left: 8vw;
    max-width: 30vw;
    min-height: 75vh;
}

.header_container h1{
    font-family: var(--header_1_font);
    font-weight: var(--header_1_weight);
    font-size: var(--header_1_size);
}

.header_container button{
    background-color: var(--highlight);
    margin-top: 2rem;    
}

#landing_info{
    background-image: url("../assets/imgs/landing_1.jpg");
    padding-bottom:15rem;
}



@media (max-width:926px){
    .arrow{
        display: none;
    }
    #benefits{
        padding: 3rem .5rem 3rem;
    }
    #benefits h2{
        text-align: center;
    }
    .description_text{
        margin:0;
    }
    #end_content{
       background-image: url("/assets/imgs/footer_1_mobile.jpg");
       background-position: center center;
    }
    .flex_container{
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding: 0;
    }
    .flex_container .banner_title{
        width:auto;
    }
    .footer_container{
        display: block;
        text-align: center;
    }
    .footer_container .logo_container{
        display: none;
    }
    .footer_logo{
        text-align: center;
    }
    .formula_container{
        display: block;
    }
    .formula_container .formula_container_item{
        padding: 0;
        text-align: start;
    }
    .general_info_container{
        padding: 10vw 5vw 15vw;
        text-align:center;
    }
    .general_info_container p{
        font-family: var(--reg_text_font);
        font-weight: var(--reg_text_weight);
        font-size: var(--reg_text_size);
        text-transform: none;
    }
    .svgs_container{
        padding: 2rem 0rem ;
        display: flex;
        flex-wrap: nowrap;
        overflow-x:auto;
        justify-content: space-between;
    }
    .svgs_container .svgs_card{
        background: #F1F0E8;
        border-radius: 15px;
        margin-left: 1rem;
        padding: 50px 5px 0px;
        min-width: 300px;
        height: auto;
        margin-bottom: 0;
        font-size: 20px;
        align-items: center;
        justify-content: center;
    }
    #landing_info{
        text-align: left;
    } 
    .header_container{
        padding: 15rem .5rem 3rem;
        max-width:100%;
        line-height:2rem;
    }
    .header_container h1{
        line-height:3.5rem;
    }
}
