<component-navbar></component-navbar>
<header id="landing_info" class="image_background">
  <div class="header_container">
    <h1>Una <span style="font-style: italic;">revolución</span> de la salud.</h1>
    <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. 
      Fugit praesentium similique quibusdam minima nulla eos, optio earum cupiditate eum debitis. 
      Dolor voluptas quam deleniti accusantium. Explicabo nulla quos sunt illo?</p>
    <button class="button">Inicia tu protocolo</button>
  </div>
</header>
<section id="general_info">
  <div class="general_info_container">
    <img  src="/assets/imgs/svgs/fungi_group.svg" alt="">
  
    <h2 class="banner_title " style="margin-top: 2rem;" >¿Para quién es el tratamiento de microdosis hongos?</h2>
    <h3 class="subtitle" style="margin-top: 2rem;">La microdosis es para TODOS!</h3>
    <p class="subtitle text" style="margin-top: 2rem;">Al ser una regeneración neuronal y regulación de 
      neurotransmisores, beneficia a cualquier persona pues 
      optimiza el funcionamiento de nuestro cerebro y de nuestra 
      percepción.
    </p>
  </div>
</section>
<section id="benefits">
  <div class="bottom_border_container">
    <div class="flex_container">
      <div>
        <h1 class="banner_title ">¿Cuáles son los beneficios?</h1>
      </div>
      <div class="description_text">
        <span class="arrow">&#10230;</span>
        <p>Todos nuestros tratamientos son especialmente seleccionados para tratar diferentes áreas problema.
        <br><br>
          Estas son algunas de las áreas que se pueden tratar:
        </p>
      </div>
    </div>
  </div>
  <div class="svgs_container">
    <div class="svgs_card">
      <img src="/assets/imgs/svgs/stress.svg" alt="" srcset="">
      <p class="subtitle">Manejo de estrés</p>
    </div>
    <div class="svgs_card">
      <img src="/assets/imgs/svgs/depression.svg" alt="" srcset="">
      <p class="subtitle">Antidepresivo y ansiolítico</p>
    </div>
    <div class="svgs_card">
      <img src="/assets/imgs/svgs/creativity.svg" alt="" srcset="">
      <p class="subtitle">Aumenta la creatividad</p>
    </div>
    <div class="svgs_card">
      <img src="/assets/imgs/svgs/ego.svg" alt="" srcset="">
      <p class="subtitle">Desolidifica el ego</p>
    </div>
    <div class="svgs_card">
      <img src="/assets/imgs/svgs/empathy.svg" alt="" srcset="">
      <p class="subtitle">Desarrolla la empatía</p>
    </div>
    <div class="svgs_card">
      <img src="/assets/imgs/svgs/brain.svg" alt="" srcset="">
      <p class="subtitle">Aumenta la plasticidad cerebral</p>
    </div>
  </div>
  <div style="display:flex; justify-content:center; align-items:center; ">
    <button class="button">Quiero saber más</button>
  </div>
</section>
<section id="experience">
  <div>algo por aca</div>
</section>
<section id="testimonial">
  <div>testimonios carrousel</div>
</section>
<section id="formula">
  <div class="formula_container">
    <div class="formula_container_item">
      <img class="img-fluid" src="/assets/imgs/mushroom.jpg" alt="" srcset="">
    </div>
    <div class="formula_container_item">
      <h1>Nuestras <span style="font-style: italic;">Fórmulas</span>.</h1>
      <p>Nuestras fórmulas se desarrollan a partir de nuestro banco genético, que cuenta con una variedad de 71 especies diferentes de hongos del género Psilocybe.
        <br>
        <br>
        El hongo es una inteligencia que se adapta a tu sistema y sanará lo que tu sistema nervioso y tu cuerpo psico-emocional necesiten sanar. Cada persona establece una relación personal con el hongo y tiene una respuesta y sensibilidad distinta.
        <br>
        <br>
        Es muy probable que durante un tratamiento de 90 días desees probar diferentes fórmulas que se complementen entre sí y ofrezcan diferentes matices a tu proceso.
        <br>
        <br>
        Las descripciones de las fórmulas no deben limitar la experiencia generando expectativas específicas, sino que intentan mostrar cómo los distintos tipos de hongos tienen diferentes tendencias, diferentes formas de sanar, y cómo enfatizan algunos aspectos de nuestra experiencia en el proceso.
        
        </p>
    </div>
  </div>
</section>
<section id="protocols">
  <div class="bottom_border_container">
    <div class="flex_container">
      <div>
        <h1 class="banner_title ">Protocolos</h1>
      </div>
      <div class="description_text">
        <span class="arrow">&#10230;</span>
        <p>Hemos desarrollado una serie de protocolos que hemos podido implementar y perfeccionar gracias a más de 2 mil personas que han confiado en nosotros.
        </p>
      </div>
    </div>
  </div>
  <div class="svgs_container">
    <div class="svgs_card">
      <img src="/assets/imgs/svgs/parkinson.svg" alt="" srcset="">
      <p class="subtitle">Parkinson</p>
    </div>
    <div class="svgs_card">
      <img src="/assets/imgs/svgs/focus.svg" alt="" srcset="">
      <p class="subtitle">ADD, ADHD, ATENCION Y CONCENTRACION</p>
    </div>
    <div class="svgs_card">
      <img src="/assets/imgs/svgs/self_knowledge.svg" alt="" srcset="">
      <p class="subtitle">Autoconocimiento y crecimiento personal</p>
    </div>
    <div class="svgs_card">
      <img src="/assets/imgs/svgs/letucce.svg" alt="" srcset="">
      <p class="subtitle">Reconexión con el gozo de vivir</p>
    </div>
    <div class="svgs_card">
      <img src="/assets/imgs/svgs/addiction.svg" alt="" srcset="">
      <p class="subtitle">Adicciones</p>
    </div>
    <div class="svgs_card">
      <img src="/assets/imgs/svgs/anxiolytics.svg" alt="" srcset="">
      <p class="subtitle">Depresión y ansiedad con antidepresivos</p>
    </div>
  </div>
  <div style="display:flex; justify-content:center; align-items:center; ">
    <button class="button">Quiero saber más</button>
  </div>
</section>
<section id="end_content" class="image_background">
  <div class="end_content_container">
    <p>Comienza tu <span style="font-style:italic;">tratamiento.</span></p>
    <button class="button">Iniciar mi protocolo</button>
  </div>
</section>
<footer>
  <div class="footer_container">
    <div class="logo_container">
      <img src="/assets/imgs/Bhavani_blanco.png" alt="" srcset="">
    </div>
    <div *ngFor="let element of footer_links" class="link_list">
      <strong>{{element.top_link_name}}</strong>
      <ul>
        <li *ngFor="let sub_element of element.sub_links">
          <a href="">{{sub_element.name}}</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="footer_logo">
    <img src="/assets/imgs/svgs/footer_logo.svg" alt="">
    <p>Copyright © Bhavani. Todos los derechos reservados.</p>
  </div>
</footer>
<router-outlet></router-outlet>
